.coaches {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: #c1f0cd; */
    padding-bottom: 10rem;
    padding-top: 5rem;
    /* padding: 10rem; */
}

.coach {
    background-color: #2d3a3a;
    width: 20%;
    height: 30rem;
    border-radius: 1em;
}

.coach h2 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    text-shadow: 3px 3px #040F0F;
    color: white;
}

.coach img {
    box-shadow: 25px 50px 50px #2d3a3a;
    border-radius: 0 0 1em 1em;
}