.info {
    width: 100%;
    text-align: center;
}

.info .heading {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 1rem;
}

.info .stripe {
    color: white;
    text-shadow: 3px 3px #040F0F;
    border-bottom: 0.1em solid #2BA84A;
    /* border-top: 1.5px solid #040F0F; */
    /* background-color: #4f6464; */
    background-color: #2d3a3a;
    font-size: 2em;
    /* Option 1 */
    /* background-color: #648282; */

    /* Option 2 */
    /* background-color: #2BA84A; */
}

.info .quote {
    font-family: 'Varela Round', sans-serif;
    /* Option 2 */
    /* background-color: #c1f0cd; */
    margin: 0;
    padding: 1rem;
    /* color: #2BA84A; */
    color: white;
    /* color: white; */
    text-shadow: 2px 2px #2d3a3a;
    font-size: 2.5em;
}

.info .quote:nth-child(2){
    color: white;
    text-shadow: 2px 2px #2d3a3a;
    padding-bottom: 4rem;
}

.info .stripe-green {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2.5rem;
    /* Option 1 */
    /* background-color: #c1f0cd; */

    /* Option 2 */
    /* background-color: #648282; */
    color: white;
    text-shadow: 1px 1px #283333;
}

.info .stripe-green p {
    padding: 1rem;
    border-radius: 1em;
    width: 40vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    /* background-color: rgba(0, 106, 5, 0.55); */
    /* background-color: rgba(0, 30, 30, 0.6); */
    background-color: #597373;
    box-shadow: 0px 0px 2em #2BA84A;
}

.info .stripe-green p a {
    text-decoration: none;
    color: #00ff40;
}

@media screen and (max-width: 750px) {
    .info .stripe-green p {
        width: 90vw; 
    }
  }