.navbar-links{
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    list-style-type: none;
    display: flex;
}

.navbar-links ul li {
    padding: 1.75rem;
    border-bottom: 2.5px solid #2d3a3a;
    transition: 0.5s;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
}

.navbar-links ul li:hover {
    cursor: pointer;
    border-bottom: 2.5px solid #2BA84A;
    transform: translateY(-10px);
    transition: 0.4s;
}

.hamburger {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 35%;
}

.hamburger .top, .middle, .bottom {
    background-color: white;
    width: 30px;
    height: 3px;
}

@media screen and (max-width: 600px) {
    .navbar-links ul li{
        font-size: small;
    }
}
@media screen and (max-width: 768px) {
    .navbar-links ul {
        padding: 0;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(45, 58, 58, 0.75);
        top: 9em;
        z-index:1;
    }
    .navbar-links ul li{
        border: none;
    }
}
@media screen and (min-width: 768px) {
    .navbar-links ul li{
        font-size: medium
    }
}
@media screen and (min-width: 1000px) {
    .navbar-links ul li{
        font-size: large
    }
}
@media screen and (min-width: 1500px) {
    .navbar-links ul li{
        font-size: x-large;
    }
}