.about .section:first-child {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    margin-bottom: 4em;
}

.section {
    text-align: center;
    margin: 2em 0;
}

@media screen and (max-width: 600px) {
    .about-img{
        max-width: 100%;
    }
}