.navbar {
    height: 9em;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #2d3a3a;
    color: white;
    border-bottom: 0.5px solid white;
}

.kck-logo {
    padding-left: 1em;
    width: 75px;
    height: 85px;
}

.login-btn {
    color: #2BA84A;
    width: 6rem;
    height: 3rem;
    /* border: none; */
    border: 2px solid #2BA84A;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    /* align-self: center; */
    transition: 0.5s;
    background-color: #d6f5de;
}

.login-btn:hover,
.login-btn:focus {
    cursor: pointer;
    color: white;
    /* box-shadow: inset 12em 0 0 0 #00aaff; */

    box-shadow: inset 12em 0 0 0 #2BA84A;
}

@media screen and (max-width: 875px) {
    .login-btn {
        position: absolute;
        top: 4.25em;
        right: 1em;
    }
}