.testimonials {
    display: flex;
    padding: 2.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testimonial {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 33em;
    /* height: 20em; */
    margin: 1em;
    border: 1px solid black;
}

.testimonial h1 {
    border-bottom: 1px solid black;
    text-align: center;
}

.testimonial .before-after {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 15em; /* This will need to be changed  */
}

.testimonial .before-after div {
    margin: 0.5em;
    width: 50%;
    border: 1px solid red;
}

.testimonial .review {
    text-align: left;
    padding: 1.5em;
}

.testimonial .client-name {
    text-align: center;
}