.App {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(214,245,220);
  background: radial-gradient(circle, rgba(214,245,220,1) 0%, rgba(184,199,199,1) 50%, rgba(79,100,100,1) 100%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  padding: 2em 0;
}

.wrapper form {
  background-color: white;
  border-radius: 0.3em;
}

.wrapper form h3 {
  text-align: center;
  padding: 1em 0;
}

@media screen and (max-width: 550px) {
  .logo img {
    height: 375px; 
    width: 375px;
  }
}